@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bl-link: #1C969E;
}

label:has(*:checked) {
  @apply bg-green-200
}

@layer utilities {
  .openModal {
    overflow: hidden;
  }
}

@layer components {
  .hero {
    background: linear-gradient(105.27deg, #EEFEE4 1%, #4EF4FF 122.9%);
  }
  .button {
    @apply bg-[var(--bl-link)] text-white text-base py-4 px-10 mb-10;
  }
}